@font-face {
  font-family: 'metro';
  src: url('/fonts/metro.eot');
  src: url('/fonts/metro.eot?#iefix') format('embedded-opentype'), url('/fonts/metro.svg#metro') format('svg'), url('/fonts/metro.woff') format('woff'), url('/fonts/metro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "微軟正黑體" !important;
  .content {
    width: 100%;
    height: 100%;
    padding-top: 3.125rem;
  }
}