@font-face {
  font-family: 'metro';
  src: url('/amp/fonts/metro.eot');
  src: url('/amp/fonts/metro.eot?#iefix') format('embedded-opentype'), url('/amp/fonts/metro.svg#metro') format('svg'), url('/amp/fonts/metro.woff') format('woff'), url('/amp/fonts/metro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}