.ctrl {
  >.app-bar {
    >.identify {
      display: none !important;
    }
  }
  >.content {
    padding-top: 3.125rem;
    >.flex-grid>.row>.cell {
      >.text-light {
        text-align: center;
      }
      >.flex-grid>.row>.cell {
        min-height: 280px;
        max-height: 340px;
        >table {
          margin: unset;
        }
      }
    }
  }
}