.design {
  >.app-bar {
    background-color: #1ba1e2;
    >.main>span:nth-child(2)::before {
      content: 'Design';
    }
  }
  >.content {
    overflow-y: hidden;
    >.svgContainer {
      width: 375px;
      height: 100%;
      margin: auto;
      >svg {
        font-family: 微軟正黑體;
        width: 100%;
        height: 100%;
        .line {
          fill: none;
          stroke: #D0CCCB;
          stroke-width: 5;
        }
        g>g {
          >rect {
            &.standby {
              fill: #D0CCCB;
              stroke: #D5D5D5;
              stroke-width: 2;
            }
            &.running {
              fill: #FFEBA6;
              stroke: #E9D891;
              stroke-width: 2;
            }
            &.done {
              fill: #93E3B0;
              stroke: #A5D8B7;
              stroke-width: 2;
            }
            &.freeze {
              fill: #9AD6F0;
              stroke: #84BED7;
              stroke-width: 2;
            }
            &.error {
              fill: #F8C4B6;
              stroke: #F0CFD8;
              stroke-width: 2;
            }
          }
          >text {
            fill: black;
            font-size: 20px;
            text-anchor: middle;
            &.tip {
              font-size: 12px;
            }
          }
        }
        #MS_Surface_Design { // 分模面設計
          transform: translate(0px, 125px);
        }
        #MB_Create { // 模座建立
          transform: translate(200px, 125px);
        }
        #MB_Detail { // 模座細部設計
          transform: translate(200px, 250px);
        }
        #MS_Detail { // 機構細部設計
          transform: translate(0px, 250px);
        }
        #MB_Total_Asm { // 總組立
          transform: translate(0px, 375px);
        }
        #MB_Asm_Figure { // 組力圖
          transform: translate(0px, 500px);
        }
        #MB_Com_Figure { // 零件圖
          transform: translate(0px, 625px);
        }
      }
    }
  }
}