.home {
  >.app-bar {
    background-color: #0072c6;
    >.app-bar-element {
      display: none;
    }
    >.main>span:nth-child(2)::before {
      content: 'Home';
    }
  }
  >.content {
    >.flex-grid {
      margin: .625rem 0;
      >.row>.cell {
        >button {
          margin: auto !important;
          display: block !important;
        }
      }
    }
    >table {
      margin: unset;
      text-align: center;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      >thead>tr {
        background-color: #0094D5;
        >th {
          color: white;
          text-align: center;
          &.identify {
            width: 25%;
          }
        }
      }
    }
  }
}