.project {
  cursor: pointer;
  >td:nth-child(1) {
    &:hover {
      background-color:rgba(28,183,236,.1)
    }
    &:active {
      background-color:rgba(28,183,236,.3)
    }
  }
  >td:nth-child(2) {
    padding: unset;
    >.flex-grid>.row>.cell {
      >.ready {
        background-color: #D0CCCB;
      }
      >.running {
        background-color: #FFEBA6;
      }
      >.finished {
        background-color: #93E3B0;
      }
      >.error {
        background-color: #F8C4B6;
      }
      >.frozen {
        background-color: #9AD6F0;
      }
      >.status {
        height: 40px;
        line-height: 40px;
      }
      >.progress {
        margin: unset;
        &.pg-running>.bar {
          background-color: #FFC700;
        }
        &.pg-error>.bar {
          background-color: #EB613C;
        }
      }
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 1;
      }
    }
  }
}