.progress {
    margin: unset;
}
.status {
    height: 40px;
    font-style: bold;
    line-height: 40px;
}
.info-button {
    color:#1776BC;
    cursor: default;
}
.info-button:active {
    color:#0D426C;
}