$standby: #E8E8E8;
$standby-stroke: #969696;
$running: #FFEBA5;
$running-stroke: #EFC737;
$done: #93E3B0;
$done-stroke: #18BF55;
$freeze: #9BD6F0;
$freeze-stroke: #35BFFF;
$error: #F8C4B6;
$error-stroke: #FF899D;
$pg-running: #FFC700;
$pg-done: #18BF55;
$pg-error: #EA613B;
$pg-space: unset;
$design: #1BA1E2;
$design-hover: #1B6EAE;
$scheduling: #0050EF;
$scheduling-hover: #00356A;
$machining: #6A00FF;
$machining-hover: #4B0096;
$molding: #AA00FF;
$molding-hover: #57169A;
$molding-calc: rgba(218, 90, 83, .2);
$molding-calc-hover: rgba(218, 90, 83, .4);
$table-thead: #0094D5;
$table-thead-text: #FFFFFF;
$table-tbody: #FFFFFF;
$table-tbody-text: #000000;
$table-ctrl-hover: rgba(28, 183, 236, .1);
$table-ctrl-active: rgba(28, 183, 236, .3);
$warning-icon: #969696;
$warning-icon-error: #EA613B;
$dialog-overlay: rgba(0, 0, 0, .5);