@mixin stage($color, $stroke) {
  background-color: $color;
  fill: $color;
  stroke: $stroke;
  stroke-width: 1;
}

@mixin progress($color) {
  fill: $color;
  background-color: $color;
  &.icon {
    color: $color;
    background-color: unset;
  }
  >.bar {
    background-color: $color;
  }
}

@mixin app-bar($color, $hover) {
  >.app-bar {
    background-color: $color;
    >.app-bar-element:hover,
    .dropdown-toggle:hover {
      background-color: $hover;
    }
  }
}

@mixin table() {
  table.table {
    margin: unset;
    cursor: default;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    >thead {
      background-color: $table-thead;
      >tr>th {
        color: $table-thead-text;
        text-align: center;
      }
    }
    >tbody {
      background-color: $table-tbody;
      >tr>td {
        color: $table-tbody-text;
        text-align: center;
      }
    }
  }
}