<template name="design">
  <div class="content">
    {{#with design}}
    <table class="table hovered border" style="width: unset; position: absolute;">
      <thead>
        <tr>
          <th>模具編號</th>
        </tr>
      </thead>
      <tbody>
        {{#each moldNo}}
        <tr>
          <td>{{this}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="svg-container">
      <svg viewBox="0 0 375 700" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
            <path d="M0 1 L0,5 L3,3 z" fill="#969696" />
          </marker>
          <line id="arrowVLine" class="line" x1="75" y1="50" x2="75" y2="108" marker-end="url(#arrow)" />
          <line id="arrowHLine" class="line" x2="33" marker-end="url(#arrow)" />
          <polyline id="arrowPLine" class="line" points="75,50 75,85 -125,85" />
        </defs>
        <g class="group" transform="translate(12.5,12.5)">

          <g id="MS_Create">
            <use xlink:href="#arrowVLine" />
            <rect class="{{MS_Create}}" width="150" height="50" rx="10" ry="10" />
            <text x="75" y="33">模型建立</text>
          </g>
          <g transform="translate(0, 125)">
            <use xlink:href="#arrowVLine" />
            <use xlink:href="#arrowHLine" x="150" y="25" />
            <rect class="{{MS_Surface_Design}}" width="150" height="50" rx="10" ry="10" />
            <text x="75" y="33">分模面設計</text>
          </g>
          <g transform="translate(200, 125)">
            <use xlink:href="#arrowVLine" />
            <rect class="{{MB_Create}}" width="150" height="50" rx="10" ry="10" />
            <text x="75" y="33">模座建立</text>
          </g>
          <g transform="translate(200, 250)">
            <use xlink:href="#arrowPLine" />
            <rect class="{{MB_Detail}}" width="150" height="50" rx="10" ry="10" />
            <text x="75" y="33">模座細部設計</text>
          </g>
          <g transform="translate(0, 250)">
            <use xlink:href="#arrowVLine" />
            <rect class="{{MS_Detail}}" width="150" height="50" rx="10" ry="10" />
            <text x="75" y="33">機構細部設計</text>
          </g>
          <g transform="translate(0, 375)">
            <use xlink:href="#arrowVLine" />
            <rect class="{{MB_Total_Asm}}" width="150" height="50" rx="10" ry="10" />
            <text x="75" y="33">總組立</text>
          </g>
          <g transform="translate(0, 500)">
            <use xlink:href="#arrowVLine" />
            <rect class="{{MB_Asm_Figure}}" width="150" height="50" rx="10" ry="10" />
            <text x="75" y="33">組力圖</text>
          </g>
          <g transform="translate(0, 625)">
            <rect class="{{MB_Com_Figure}}" width="150" height="50" rx="10" ry="10" />
            <text x="75" y="33">零件圖</text>
          </g>
          <g class="group" transform="translate(265, 520)">
            <g id="chart" transform="translate(42.5, -40)"></g>
            <text class="percent" x="42.5" y="-33">{{progress}}%</text>
            <g transform="translate(5, 5)">
              <rect class="standby" width="75" height="25" rx="10" ry="10" />
              <text class="tip" x="37.5" y="17">STANDBY</text>
            </g>
            <g transform="translate(5, 35)">
              <rect class="running" width="75" height="25" rx="10" ry="10" />
              <text class="tip" x="37.5" y="17">RUNNING</text>
            </g>
            <g transform="translate(5, 65)">
              <rect class="done" width="75" height="25" rx="10" ry="10" />
              <text class="tip" x="37.5" y="17">DONE</text>
            </g>
            <g transform="translate(5, 95)">
              <rect class="freeze" width="75" height="25" rx="10" ry="10" />
              <text class="tip" x="37.5" y="17">FREEZE</text>
            </g>
            <g transform="translate(5, 125)">
              <rect class="error" width="75" height="25" rx="10" ry="10" />
              <text class="tip" x="37.5" y="17">ERROR</text>
            </g>
          </g>

        </g>
      </svg>
    </div>
    {{/with}}
  </div>
</template>