<template name="header">
  <div class="app-bar fixed-top">
    <a class="home app-bar-element {{isActiveRoute regex='Home|Info|Log'}}">
      <span class="mif-home"></span>
      <span>Home</span>
    </a>
    <a class="design app-bar-element {{isActiveRoute 'Design'}}">
      <span class="mif-pencil"></span>
      <span>Design</span>
    </a>
    <a class="scheduling app-bar-element {{isActiveRoute 'Scheduling'}}">
      <span class="mif-indent-increase"></span>
      <span>Scheduling</span>
    </a>
    <a class="machining app-bar-element {{isActiveRoute 'Machining'}}">
      <span class="mif-hammer"></span>
      <span>Machining</span>
    </a>
    <a class="molding app-bar-element {{isActiveRoute 'Molding'}}">
      <span class="mif-widgets"></span>
      <span>Molding</span>
    </a>
    <ul class="app-bar-menu place-right">
      <li>
        <a class="dropdown-toggle">
          <div class="logo"></div>
          <span class="title">AMPCloud</span>
        </a>
        <ul class="d-menu" data-role="dropdown">
          <li>
            <a class="info">
              <span class="mif-magic-wand"></span>
              <span>Infomation</span>
            </a>
          </li>
          <li>
            <a class="log">
              <span class="mif-file-text"></span>
              <span>Log</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="identify place-right {{isNotActiveRoute 'Home' class='active'}}">
      <div>
        <span class="mif-versions mif-2x"></span>
        <span>{{id}}</span>
      </div>
    </div>
  </div>
</template>