body>.app-bar {
  >.identify {
    float: left;
    display: none;
    color: inherit;
    cursor: default;
    font-size: 1rem;
    height: 3.125rem;
    position: relative;
    padding: 0 .625rem;
    line-height: 3.125rem;
    background-color: inherit;
    padding: unset;
    >div {
      color: #6D6D6D;
      padding: 0 .625rem;
      display: inline-block;
      background-color: #EBEBE4;
    }
    &.active {
      display: block;
    }
  }
  >.app-bar-element.active {
    color: black;
    display: block !important;
    cursor: default;
    pointer-events: none;
    background-color: white;
  }
  >.app-bar-menu {
    >li>ul {
      border: none;
      >li>a {
        padding: .75rem 1.2rem;
        >span:nth-child(2) {
          margin: 0 5px;
        }
      }
    }
  }
}