<template name="home">
  <div class="content">
    <table class="table border bordered">
      <thead>
        <tr>
          <th class="identify">專案編號</th>
          <th>階段狀態</th>
        </tr>
      </thead>
      <tbody>
        {{#each projects}} {{> project}} {{/each}}
      </tbody>
    </table>
    <div data-role="dialog" id="dialog" data-width="75%" data-height="75%" data-overlay="true" data-close-button="true" data-overlay-color="black">
      <iframe id="content" src="http://cnt.cycu.edu.tw/machine_01.html" frameborder="0" width="100%" height="100%"></iframe>
    </div>
  </div>
</template>