@import '../scss/common.scss';
.info {
  @include table();
  >.app-bar {
    >.app-bar-element {
      display: none !important;
      &.active {
        cursor: pointer;
        pointer-events: auto;
      }
      &:hover {
        background-color: #EEEEEE !important;
      }
    }
    >.identify {
      display: none !important;
    }
  }
  table {
    cursor: auto !important;
    user-select: auto !important;
    -moz-user-select: auto !important;
    -webkit-user-select: auto !important;
  }
  th {
    width: 40%;
  }
}