@import '../scss/common.scss';
.machining {
  @include app-bar($machining, $machining-hover);
  @include table();
  @include pg();
  cursor: default;
  .info {
    cursor: pointer;
    color: $pg-error;
  }
  #dialog {
    padding: 10px;
  }
  .dialog-overlay {
    background-color: $dialog-overlay;
  }
  .title {
    margin: 5px 0;
    font-size: 25px;
    text-align: center;
  }
}