<template name="machining">
  <div class="content">
    <table class="table border hovered bordered">
      <thead>
        <tr>
          <th>零件編號</th>
          <th>製程</th>
          <th>機台編號</th>
          <th>預估開始時間</th>
          <th>預估結束時間</th>
          <th>開始時間</th>
          <th>結束時間</th>
          <th>零件狀態</th>
          <th>錯誤訊息</th>
        </tr>
      </thead>
      <tbody>
        {{#each schedulings}}
        <tr>
          <td>{{partNo}}</td>
          <td>{{method}}</td>
          <td>{{machineNo}}</td>
          <td>{{expectedStartTime}}</td>
          <td>{{expectedEndTime}}</td>
          <td>{{startTime}}</td>
          <td>{{endTime}}</td>
          <td>
            <a class="icon mif-traff mif-2x pg-{{status}}"></a>
          </td>
          <td>
            <a class="info mif-warning mif-2x"></a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div id="dialog" data-role="dialog" data-type="alert" data-windows-style="true" data-close-button="true" data-overlay="true"
      data-overlay-click-close="true">
      <div class="title">
        <span class="mif-warning"></span>
        <span>錯誤訊息</span>
      </div>
      <!--{{#with scheduling}}-->
      <table class="table border bordered">
        <thead>
          <tr class="thead">
            <th>機台編號</th>
            <th>異常狀況</th>
            <th>轉速</th>
            <th>進給</th>
            <th>刀刃數</th>
            <th>切深</th>
            <th>門檻值</th>
            <th>NC碼</th>
          </tr>
        </thead>
        <tbody>
          <!--{{#each error}}-->
          <tr class="tbody">
            <td>1{{machineNo}}</td>
            <td>2{{errorType}}</td>
            <td>3{{SpindleSpeed}}</td>
            <td>4{{Feed}}</td>
            <td>5{{Cutters}}</td>
            <td>6{{Depth}}</td>
            <td>7{{Threshold}}</td>
            <td>9{{NC_code}}</td>
          </tr>
          <!--{{/each}}-->
        </tbody>
      </table>
      <!--{{/with}}-->
    </div>
  </div>
</template>