@import '../scss/common.scss';
.machining {
  @include app-bar($machining, $machining-hover);
  @include table();
  @include pg();
  @include dialog();
  cursor: default;
  .content {
    display: none;
  }
  .icon {
    color: $traff-icon;
  }
  .info {
    color: $warning-icon;
    &.active {
      color: $warning-icon-active;
      cursor: pointer;
    }
  }
}