.molding {
  >.app-bar {
    background-color: #a0f;
    >.app-bar-element:hover,
    .dropdown-toggle:hover {
      background-color: #57169a;
    }
    >.main>span:nth-child(2)::before {
      content: 'Molding';
    }
  }
  >.content {
    >table {
      margin: unset;
      text-align: center;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      >thead>tr {
        background-color: #0094D5;
        >th {
          color: white;
          text-align: center;
        }
      }
    }
  }
}