@import '../scss/common.scss';
.molding {
  @include app-bar($molding, $molding-hover);
  @include table();
  .table {
    display: none;
  }
  .calc {
    background-color: $molding-calc;
    &:hover {
      background-color: $molding-calc-hover !important;
    }
  }
}