@import '../scss/common.scss';
.project {
  cursor: pointer;
  .identify {
    &:hover {
      background-color: $table-ctrl-hover;
    }
    &:active {
      background-color: $table-ctrl-active;
    }
  }
  .stage {
    padding: unset;
  }
  .cell {
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 1;
    }
  }
  .status {
    height: 40px;
    line-height: 40px;
  }
  .progress {
    margin: unset;
    background-color: white;
  }
  .pg-running>.bar {
    background-color: $pg-running;
  }
  .pg-done>.bar {
    background-color: $pg-done;
  }
  .pg-error>.bar {
    background-color: $pg-error;
  }
  .pg-space>.bar {
    background-color: $pg-space;
  }
}