@import '../scss/common.scss';
.project {
  @include sg();
  @include pg();
  cursor: pointer;
  .identify {
    &:hover {
      background-color: $table-ctrl-hover;
    }
    &:active {
      background-color: $table-ctrl-active;
    }
  }
  .cell {
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 1;
    }
  }
  .stage {
    padding: unset;
  }
  .status {
    height: 40px;
    line-height: 40px;
  }
  .progress {
    margin: unset;
    background-color: white;
  }
}