<template name="project">
  <tr class="project">
    <td class="identify">{{projectNo}}</td>
    <td class="stage">
      <div class="flex-grid">
        <div class="row">
          <div class="cell size3 design">
            <div class="status {{design.status}}">設計</div>
            <div class="progress pg-{{parseStatus design.status}}" data-value={{design.progress}} data-animate="500" data-role="progress"></div>
          </div>
          <div class="cell size3 scheduling">
            <div class="status {{scheduling.status}}">排程與規劃</div>
            <div class="progress pg-{{parseStatus scheduling.status}}" data-value={{scheduling.progress}} data-animate="500" data-role="progress"></div>
          </div>
          <div class="cell size3 machining">
            <div class="status {{machining.status}}">加工與量測</div>
            <div class="progress pg-{{parseStatus machining.status}}" data-value={{scheduling.progress}} data-animate="500" data-role="progress"></div>
          </div>
          <div class="cell size3 molding">
            <div class="status {{molding.status}}">成型</div>
            <div class="progress pg-{{parseStatus molding.status}}" data-value={{molding.progress}} data-animate="500" data-role="progress"></div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</template>