<template name="scheduling">
  <div class="content">
    <table class="table border hovered bordered">
      <thead>
        <tr>
          <th>零件編號</th>
          <th>製程</th>
          <th>機台編號</th>
          <th>預估開始時間</th>
          <th>預估結束時間</th>
          <th>檔案連結</th>
        </tr>
      </thead>
      <tbody>
        {{#each parts}}
        <tr>
          <td>{{partNo}}</td>
          <td>{{method}}</td>
          <td>{{machineNo}}</td>
          <td>{{formatDate expectedStartTime}}</td>
          <td>{{formatDate expectedEndTime}}</td>
          <td><a class="mif-file-download mif-2x" href="{{fileUrl}}"></a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{> preloader}}
</template>